footer {
  background: #fb0;
  padding: 5% 0 2%;
  text-align: center;
  font: 1.8vw Intro;
  color: #333;
}
  h3 {
    font: 3.7vw IntroBold1;
    color: #FFF;
  }
   .ftr_img {
      width: 15%;
      margin: 2% auto;
      display: block;
   }
   .ftr_a, .ftr_arrow_box {
      text-decoration: underline;
   }
   .ftr_a {
      color: #333;
   }
   .ftr_a:hover {
      color: #FFF;
   }
   .ftr_arrow_box {
      width: 8%;
      margin: 0 auto;
      cursor: pointer;
      text-align: center;
      padding: 3% 0 0;
      font: 1.8vw Intro;
      display: block;
   }
      .ftr_arrow {
         width: 55%;
         display: block;
         margin: 0 auto .3%;
      }